@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@500&display=swap');
@tailwind components;
@tailwind utilities;
@layer components {
  .all-\[unset\] {
    all: unset;
  }
}
body {
  background-color: #101010;
}